.container {
    background-color: lightgrey
}

.jumbotron {
    text-align: center;
    height: 160px;
    line-height: normal;
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.nav-link {
    color: darkgray;
    font-size: larger;
    font-weight: normal;
    margin: 10px;
    font-family: monospace;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
}

.card-title {
    text-align: left;
    margin-top: 50px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#sticky-footer {
    background-color: grey;
    background-origin: padding-box;
    color: lightgray;
    height: 60px;
}

.portfolioImg{
    width: 300px;
    height: 300px;
}
#hrFooter{
    border-top: 6px solid #17a2b8;
    margin-bottom: 0px;
}

.pb-5 .py-5 {
    padding-bottom: 1rem;

}

.pt-5 .py-5 {
    padding-top: 1rem;
}

.footer-copyright {
 padding-top: 20px;
}








